body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


[scroll-glue] {
	height: 240px;
	width: 500px;
	padding: 15px;
	margin: 10px;
	overflow-y: scroll;
	border: 1px solid black;
}

ul {
    list-style-type: none;
}

li {
	padding: 5px;
}

.error {
	color: red;
}
