<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <script src="javascripts/sockjs-0.3-min.js"></script>
     <script src="javascripts/reload.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= host %></p>
      
  </body>
</html>
